.page {
    min-height: 100vh;
    display: flex;
    flex-direction: column
}

main {
    flex: 1;
    display: flex;
    margin: 0 4em;
    justify-content: center;
    align-items: center;
}

.hero-title {
    font-size: clamp(1rem, 5.333vw, 2.5rem);
    text-align: center;
    font-weight: 200;
    max-width: 500px;
}
