.top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
    padding: 1em 1em 0 2em;
}

.logo-img {
    width: 6vw;
    max-width: 40px;
    opacity: 0.7;
}