.page {
    min-height: 100vh;
    display: flex;
    flex-direction: column
}

main {
    flex: 1;
    display: flex;
    margin: 0 4em;
    justify-content: center;
}

main.sightings {
    flex-direction: column;
    align-items: center;
}

.page-title {
    font-size: clamp(1rem, 6.333vw, 2.5rem);
    font-family: "Frijole", serif;
    color: white;
    text-decoration: none;
    text-align: center;
    margin: 0 1em;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
    padding: 0 1em;
    margin: 2em 0;
}
