.page {
    min-height: 100vh;
    display: flex;
    flex-direction: column
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 0 4em;
  justify-content: center;
  align-items: center;
}

.page-title {
    font-size: clamp(1rem, 6.333vw, 2.5rem);
    font-family: "Frijole", serif;
    color: white;
    text-decoration: none;
    text-align: center;
    margin: 0 1em;
}

.live-container{
    border: 1px solid #fff;
    background-color: #fff;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 1em;
    border-radius: 10px;
    text-align: center;
    color: #333;
    margin-top: 2em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* min-height: 100px; */
}
